body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#top-banner {
    background-image: url(images/bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 5px;

}

.banner-text {
    color: rgb(255, 183, 0);
    font-weight: 900;
}

#donate-today {
    text-align: center;
}


ul li {
    list-style: none;
    display: inline;

}

.list-item {
    background-color: rgb(231, 231, 231);
    padding: 15px 15px;
    border-radius: 5px;
}

#unique-list {
    padding: 15px 15px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: pink;
    color: red;
}

.input {
    border: none;
}

#hor-row {
    width: 60%;
}

.donation-plan {
    text-align: center;
}

#three-plans {
    display: flex;

}

.plan-item {
    text-align: left;
    width: 300px;
    height: 220px;
    padding: 45px;
    margin: 30px;
}

#food-for-family {
    background-color: rgb(234, 243, 240);
    background-image: url(images/food.png);
    background-repeat: no-repeat;
}

#shelter-for-family {
    background-color: rgb(247, 211, 217);
    background-image: url(images/shelter.png);
    background-repeat: no-repeat;
}

#education-for-child {
    background-color: rgb(245, 212, 169);
    background-image: url(images/Frame-1.png);
    background-repeat: no-repeat;
}

#how-to-contribute {
    display: flex;
    padding: 100px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.updates {
    text-align: center;
}

#email {
    background-color: rgb(245, 212, 169);
    padding: 50px;
    width: 40%;
    margin: auto;
}

.email-box {
    border: none;
    padding: 14px;
}

footer {
    background-color: black;
    text-align: center;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer h1 {
    color: red;
}

footer p {
    color: white;
}